beautifulsoup4==4.11.1
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.4
distro==1.7.0
ghostscript==0.7
greenlet==1.1.2
idna==3.3
numpy==1.22.4
pandas==1.4.2
pdfminer.six==20220524
psycopg2==2.9.3
pycparser==2.21
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.36
tabula-py==2.3.0
urllib3==1.26.9
xlrd==0.7.1
xlwt==0.7.2
